@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

/* colors and images */
:root {
  --button-color: #28a745;
  --dark-layer: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
  --text-color: #fff;
  --input-border-color: #878584;
  --footer-color: #e3e3e3;
  --header-bg-image: url(imagens/imgBackoffice.jpg);
  --backoffice-menu-bg: #343a40;
  --nav-links-color: #fff;
  --button-hover-color: #878584;
  --table-head-bg: #e9ecef;
  --nav-link-hover-color: #f79800;
  --edit-button-color: #ffa207;
  --delete-button-color: #dc3545;
  --pagination-active-bg: #007bff;
}

* {
  font-family:  'Montserrat', sans-serif;
  transition-duration: 0.2s;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 1px;
  padding: 1px;
}

header :is(a:hover) {
  color: var(--nav-link-hover-color);

}

/* header styles */
header {
  background-image: var(--dark-layer), var(--header-bg-image);
  background-size: cover;
  background-position: center;
  height: 45vh;
  box-sizing: border-box;
  color: var(--text-color);
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outro_menu {
  background-color: var(--backoffice-menu-bg);
  color: var(--nav-links-color);
  font-size: 0.7rem;
  padding: 1rem 5%;
  display: flex;
  column-gap: 2rem;
}
/*table styles*/
thead{
  background-color: var(--table-head-bg);
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  width: 50rem;
}

.users{
  font-size: 0.7rem;
  padding: 1rem 5%;
  display: flex;
  justify-content: center;
  width: 55rem;
}

td{
  padding: 1rem 5%;
  column-gap: 2rem;
  box-sizing: border-box;
  margin-left: auto;
  margin: 5rem;
}

footer {
  background-color: var(--footer-color);
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

main{
  min-height: 40vh;
  width: 80%;
  margin: 1rem auto;
  display: block;
}