@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

/* colors and images */
:root {
  --button-color: #28a745;
  --dark-layer: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
  --text-color: #fff;
  --input-border-color: #878584;
  --footer-color: #e3e3e3;
  --header-bg-image: url(imagens/imgBackoffice.jpg);
  --backoffice-menu-bg: #343a40;
  --nav-links-color: #fff;
  --button-hover-color: #878584;
  --backoffice-menu-bg: #343a40;
  --table-head-bg: #e9ecef;
  --nav-link-hover-color: #f79800;
  --footer-color: #e3e3e3;
  --dark-layer: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
  --edit-button-color: #ffa207;
  --delete-button-color: #dc3545;
  --pagination-active-bg: #007bff;
}

* {
  font-family:  'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 1px;
  padding: 1px;
}

header :is(a:hover) {
  color: var(--nav-link-hover-color);

}

/* header styles */
header {
  background-image: var(--dark-layer), var(--header-bg-image);
  background-size: cover;
  background-position: center;
  height: 45vh;
  box-sizing: border-box;
  color: var(--text-color);
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outro_menu {
  background-color: var(--backoffice-menu-bg);
  color: var(--nav-links-color);
  font-size: 0.7rem;
  padding: 1rem 5%;
  display: flex;
  column-gap: 2rem;
}

/* form styles */
form {
  width: 80%;
  margin: 1rem auto;
}

#form_fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form_field {
  min-width: 49%;
}

label {
  font-size: .7rem;
}

input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 1px solid var(--input-border-color);
  padding: 0.5rem;
  border-radius: 3px;
  margin: 2% 0;
}

input[type="submit"] {
  width: 35%;
  background-color: var(--button-color);
  color: var(--text-color);
  border-color: var(--button-color);
  cursor: pointer;
}

footer {
  background-color: var(--footer-color);
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

main{
  height: 40vh;
}